@charset "UTF-8";
/* CSS Document */
/* Star trek orange: rgb(244, 140, 0) */
/* Star trek mauve: rgb(190, 133, 197) */
/* Star trek dark orange: rgb(182, 78, 78) */
/* Blue: rgb(135,206,250);  */
.plaay {
    color:rgb(244, 140, 0) ;
    background-color:black ;
}

.canv
{
    background-color: white;
    position: absolute;
    right: 20px;
}

div.selected {
     border: thin solid rgb(255,0,0) ;
     padding: 2px ;
     margin: 2px ;
}

div.trashitem {
    border: thin solid ghostwhite;
    padding: 2px ;
    margin: 2px ;
}

div {
    /*border: thin dashed lightgrey ;*/
    padding-left: 5px ;
    padding-right: 2px ;
    padding-top: 2px ;
    padding-bottom: 2px ;
}

.H {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row ;
    flex-direction: row ;
    -webkit-flex-wrap: nowrap ;
    flex-wrap: nowrap ;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start ;
}

.V {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column ;
    flex-direction: column ;
    -webkit-flex-wrap: nowrap ;
    flex-wrap: nowrap ;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start ;
}

div.undo
{
    width:40px;
    bottom:4px; left: 0px;
    height:calc(4%);
    background-color: darkred;
    position:fixed;
}

.dropdown
{
    display:none;
    width:300px;
    border: 1px solid slategrey;
    position: relative;
}

div.redo
{
    width:40px;
    bottom:4px; left: 50px;
    height:calc(4%);
    background-color: darkred;
    position:fixed;
}

div.advance
{
    width:90px;
    bottom:4px; left: 0px;
    height:calc(4%);
    background-color: royalblue;
    position:fixed;
}

div.multistep
{
    width:90px;
    bottom:4px; left: 100px;
    height:calc(4%);
    background-color: royalblue;
    position:fixed;
}

div.trash
{
    width: 50px;
    height: calc(10%);
    background-color: grey;
    position:fixed;
    bottom:4px; left: 100px;
}

div.turtle
{
    width: 50px;
    height: calc(5%);
    background-color: darkgreen;
    position:fixed;
    bottom:100px; left: 100px;
}

div.play
{
    width:90px;
    height:calc(5%);
    background-color:green;
    position:fixed;
    bottom:50px; left: 0px;
}

div.edit
{
    width:90px;
    height:calc(5%);
    background-color:green;
    position:fixed;
    bottom:50px; left: 0px;
}

div.sidebar
{
    position:fixed;
    top:4px; left:4px;
    width:150px;
    height:calc(80% - 8px);
    background-color:grey;
    overflow:auto;
}

div.stack
{
    position:fixed;
    top:4px; left:4px;
    height:calc(80% - 8px);
    width:20%;
    background-color:grey;
    overflow:auto;
}

div.container
 {
     display:block;
     position:absolute;
     top:0;
     bottom:0;
     left:0;
     right:0;
     height:auto;
     margin-top:4px;
     margin-bottom:4px;
     margin-right:4px;
     margin-left:159px;
     background-color:black;
 }

div.vms
{
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:auto;
    margin-top:4px;
    margin-bottom:4px;
    margin-right:4px;
    margin-left:159px;
    background-color:black;
}

div.block {
    height: 100px;
    width: 100px;
    float: left;
    border: 2px solid;
    background-color: black;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px;
    color:purple;
}

/*actual visualization*/
div.ifBox {
    border-top: medium solid rgb(190, 133, 197) ;
    border-bottom: medium solid rgb(190, 133, 197) ;
    border-left: 10px solid rgb(190, 133, 197) ;
    border-right: thin solid rgb(190, 133, 197) ;
    border-radius: 10px ;
    padding-left: 0px ;
}

div.ifGuardBox {
    border-top: none ;
    border-bottom: medium dashed rgb(190, 133, 197) ;
    border-left: none ;
    border-right: none ;
    padding-left: 10px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}


div.ifGuardBox:before { content: "?" ;
    display: inline ;
    vertical-align: top ;
    color: rgb(190, 133, 197) ;
    font-size: large ;
    margin: 0px 5px 0px 0px ;
}

div.thenBox {
    border-top: none ;
    border-bottom: medium solid rgb(190, 133, 197) ;
    border-left: none ;
    border-right: none ;
    padding-left: 10px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}

div.elseBox {
    border-top: none ;
    border-bottom: none ;
    border-left: none ;
    border-right: none ;
    padding-left: 10px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}

div.whileBox {
    border-top: medium solid rgb(190, 133, 197) ;
    border-bottom: medium solid rgb(190, 133, 197) ;
    border-left: 10px solid rgb(190, 133, 197) ;
    border-right: thin solid rgb(190, 133, 197) ;
    border-radius: 10px ;
    padding-left: 0px ;
}


div.whileGuardBox:before { content: "\27f3" ;
    display: inline ;
    vertical-align: top ;
    color: rgb(190, 133, 197) ;
    font-size: large ;
    margin: 0px 5px 0px 0px ;
}

div.whileGuardBox {
    border-top: none ;
    border-bottom: medium dashed rgb(190, 133, 197) ;
    border-left: none ;
    border-right: none ;
    padding-left: 10px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}

div.doBox { /*Used with both whiles and lambdas */
    border-top: none ;
    border-bottom:none ;
    border-left: none ;
    border-right: none ;
    padding-left: 10px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}

div.lambdaBox:before { content: "\03bb";
    border-top: medium solid rgb(135,206,250) ;
    border-bottom: medium solid rgb(135,206,250) ;
    border-left: 10px solid rgb(135,206,250) ;
    border-right: thin solid rgb(135,206,250) ;
    border-radius: 10px ;
    padding-left: 0px ;
}

div.lambdaHeader {
    border-top: none ;
    border-bottom: medium dashed rgb(135,206,250) ;
    border-left: none ;
    border-right: none ;
    padding-left: 10px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}

div.paramlistOuter {
    border: none ;
}


div.paramlistOuter:before { content: "\03bb" ;
    display: inline ;
    vertical-align: top ;
    color: rgb(135,206,250) ;
    font-size: large ;
}

div.paramlistInner {
    margin: 2px 0px 2px 5px ;
    border: thin solid rgb(135,206,250) ;
}

div.noReturnType {
    margin: 2px 0px 2px 0px ;
    min-height: 1ex ;
    min-width: 10ex ;
    border-radius: 5px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}

div.noReturnType:hover {
    background-color: slategrey;
    min-height: 2ex ;
}


div.returnTypeOuter {
}

div.returnTypeInner {
    margin: 2px 0px 2px 5px ;
}

div.dialog
{
    position:fixed;
    width: 50px;
    height: 50px;
    z-index: 999;
    background-color: darkred;
}


div.returnTypeOuter:before { content: "\2192" ;
    display: inline ;
    vertical-align: top ;
    color: rgb(135,206,250) ;
    font-size: large ;
}

div.seqBox {
    /*border: thin solid lightgrey ;*/
    border-radius: 5px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}

/* This sort of dropzone is usually used in vertical boxes like seqBoxes. */
div.dropZone {
    margin: 2px 0px 2px 0px ;
    min-height: 1ex ;
    min-width: 10ex ;
    border-radius: 5px ;
    -webkit-align-self: stretch ; align-self: stretch ;
}

div.dropZone:hover {
    background-color: slategrey;
    min-height: 2ex ;
}

/* This sort of dropzone is usually used in horizontal boxes like calls. */
div.dropZoneSmall {
    margin: 0px 0px 0px 0px ;
    min-height: 2ex ;
    min-width: 0.5ex ;
    border-radius: 5px ;
}

div.dropZoneSmall:hover {
    background-color: slategrey;
    min-width: 2ex ;
}

div.placeHolder {
    border: thin solid rgb(244, 140, 0) ; /* Orange */
    margin: 2px 0px 2px 0px ;
    min-width: 2ex ;
    min-height: 10px ;
    width: auto ;
    font-weight: normal ;
    font-size: medium ;
    color: rgb(244, 140, 0) ; /* Orange */
    border-radius: 5px ;
}

div.expOp {
    border: thin solid ghostwhite ;
    margin: 2px 0px 2px 0px ;
    min-width: 2ex ;
    min-height: 10px ;
    width: auto ;
    font-weight: normal ;
    font-size: medium ;
    color: ghostwhite ;
    border-radius: 5px ;
}

div.hCont, div.var, div.assign {
    border: thin solid rgb(244, 140, 0) ; /* Orange */
    border-radius: 5px ;
    font-weight: normal ;
    font-size: medium ;
    color: rgb(244, 140, 0) ; /* Orange */
    padding: 1px 2px 1px 2px ;
    margin: 1px 2px 1px 2px ;
}

div.vardecl:before { content: "Var" ;
    display: inline ;
    vertical-align: top ;
    color: ghostwhite ;
    font-size: large ;
}

div.vardecl{
    border: thin solid ghostwhite ; /* Orange */
    border-radius: 5px ;
    font-weight: normal ;
    font-size: medium ;
    color: ghostwhite ; /* Orange */
    padding: 1px 2px 1px 2px ;
    margin: 1px 2px 1px 2px ;
}

div.turtleFunc:before {
    content:url('turtle1.png');
    display: inline ;
    vertical-align: top ;
}

div.turtleFunc{
    border: thin solid green ;
    border-radius: 5px ;
    font-weight: normal ;
    font-size: medium ;
    color: ghostwhite ;
    padding: 1px 2px 1px 2px ;
    margin: 1px 2px 1px 2px ;
}

div.type {
    border: thin solid #999 ;
    border-radius: 5px ;
    font-weight: normal ;
    font-size: medium ;
    color:  #999 ;
}

div.call {
    border:thin solid rgb(190, 133, 197) ; /* Mauve */
    border-radius: 5px ;
    background-color:rgb(0,0,0);
    color:rgb(190, 133, 197) ; /* Mauve */
    font-family:"Times New Roman",Times,serif;
    font-weight:bold;
    font-size:large;
}

div.callWorld {
    border:thin solid rgb(190, 133, 197) ; /* Mauve */
    border-radius: 5px ;
    background-color:rgb(0,0,0);
    color:rgb(190, 133, 197) ; /* Mauve */
    font-family:"Times New Roman",Times,serif;
    font-weight:bold;
    font-size:large;
}


div.stringLiteral{
    border: thin solid rgb(135,206,250);
    border-radius: 5px ;
    font-family:"Lucida Console", monospace;
    font-weight: normal ;
    font-size: medium ;
    color: rgb(255,255,255);
    max-width: 200px ;
    white-space: pre-wrap ;
    word-wrap: break-word ;
    padding: 1px 2px 1px 2px ;
    margin: 1px 2px 1px 2px ;
}

div.inmap{
    border: thin solid rgb(135,206,250);
    border-radius: 5px ;
    font-family:"Lucida Console", monospace;
    font-weight: normal ;
    font-size: medium ;
    color: rgb(255,0,0);
    max-width: 200px ;
    white-space: pre-wrap ;
    word-wrap: break-word ;
    padding: 1px 2px 1px 2px ;
    margin: 1px 2px 1px 2px ;
}


div.nullLiteral {
    border:thin solid rgb(135,206,250);
    border-radius: 5px ;
    font-size: x-large ;
    font-family:"Lucida Console", Monospace;
    font-weight:bold;
    text-align:center;
    color:rgb(255,255,255);
    vertical-align:middle;
    padding: 1px 2px 1px 2px ;
    margin: 1px 2px 1px 2px ;
}



div.selection {
    border:thin solid rgb(244, 140, 0) ; /* Orange */
    background-color:rgb(0,0,0);
    color:rgb(244, 140, 0) ; /* Orange */
    font-weight: normal ;
    font-size: medium ;
    font-family:"Times New Roman",Times,serif;
}

.hover {
    background-color: rgb(122,122,0) !important;
}

.ui-widget.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content.success-dialog {
    background: black;
    overflow:visible;
    position: fixed;
    border: 1px solid purple;
    color: #222222;
}

.ui-dialog.success-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.success-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
    background: purple;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

table
{
    border: 2px solid red;
    color: black;
    font-weight: bold;
}

/* rows */
tr
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* columns */
td
{
    padding: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

/* resets */
tr:first-child
{
    border-top: none;
}

tr:last-child
{
    border-bottom: none;
}

td:first-child
{
    border-left: none;
}

td:last-child
{
    border-right: none;
}