extends layout

block content
  h1 PLAAY
  p.lead The Programming Language for Adults and Youngsters
  hr
  .row
    .col-sm-6
      h2 Create New Program
      p Start a program from scratch!
      p
        a.btn.btn-default(href='/plaay', role='button') New Program »

    .col-sm-6
      h2 Load Existing Program
      p Want to continue where you left off? Load your program!
      p
        a.btn.btn-default(href='#', role='button') Load Program »
    .col-sm-6
      h2 Explore Popular Programs
      p Looking for some inspiration? The most popular PLAAY programs are listed here.
      p
        a.btn.btn-default(href='#', role='button') Explore Popular Programs »
    .col-sm-6
      h2 Another option?
      p Should there be anything else?
      p
        a.btn.btn-default(href='#', role='button') Another Option »