extends base

block append scripts
    script(src="plaay.js")
    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")

block append stylesheets
    //link(rel="stylesheet", href="plaay-style.css")

block content
    .plaay
        //include plaay.html

block footer
    p put something here on the bottom

