- var onLoad= programId ? 'main.onLoad("' + programId +'")' : "main.onLoad()";
html
    head
        meta(charset="UTF-8")
        title PLAAY
        script(src="/plaay.js")
        script(src="https://code.jquery.com/jquery-1.10.2.min.js")
        script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
        script.
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript src='/jquery-1.10.2.min.js' type='text/javascript'%3E%3C/script%3E"));
                document.write(unescape("%3Cscript src='/jquery-ui.min.js' type='text/javascript'%3E%3C/script%3E"));
            }
        link(rel="stylesheet" href="/plaay-style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto%20Sans|Noto%20Serif|Noto%20Mono")
        link( <link rel="shortcut icon" href="/favicon.ico" )
        link( rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico")
        link( rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png")
        link( rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png")
        link( rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png")
        link( rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png")
        link( rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png")
        link( rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png")

    body(id="body" class="plaay" onload=onLoad)

