- var onLoad= programId ? 'main.onLoad("' + programId +'")' : "main.onLoad()";
html
    head
        script(src="/plaay.js")
        script(src="https://code.jquery.com/jquery-1.10.2.min.js")
        script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
        link(rel="stylesheet" href="/plaay-style.css")
    body(id="body" class="plaay" onload=onLoad)
        #upperArea
            #bannerArea
                | PLAAY = The Programming Language for Adults and Youngsters
            div(class="userBar" id="userBar")
                unless user
                    div(class="barButtons" id="login")
                        | Login/Register
                else
                    div(class="barButtons" id="logout")
                        | Logout
                    div(class="barButtons" id="loadProgram")
                        | Load Program
                    div(class="barButtons" id="clearProgram")
                        | Clear
                    div(class="barButtons" id="updateProgram")
                        | Save

                div(class="barButtons" id="saveProgram")
                    | Save As

