extends layout

block append scripts
  script(src="js/lib/plaay.js")
  script(src="https://code.jquery.com/jquery-1.10.2.min.js")
  script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
  link(rel="stylesheet", href="plaay-style.css")

block content
  include html/plaay.html
